.App {
	text-align: center;
	padding: 5px 20px;
}

.App h1 {
	color: #4ca04c;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

body {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	height: fit-content;
	font-family: sans-serif;
}

header {
	display: flex;
	gap: 20px;
}

main {
	/* border: 1px solid red; */
	padding: 8px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	width: fit-content;
}

.chart-container {
	height: fit-content;
	width: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 6px;
}

button {
	border: none;
	background-color: rgb(213, 233, 243);
	border-radius: 4px;
	color: #286fb4;
	text-align: left;
	width: fit-content;
	padding: 6px 10px;
	font-style: bolder;
}

button:hover {
	cursor: pointer;
	background-color: #e2f0f9;
}

.header-container {
	text-align: left;
	border: 1px solid #d9d4d4;
	border-radius: 10px;
	padding: 15px;
	min-width: 300px;
	color: dimgray;
}

.header-container > h2 {
	margin: 0;
	margin-bottom: 10px;
	font-size: 20px;
	font-style: normal;
}

.bank-accounts {
	display: flex;
	flex-direction: column;
	gap: 6px;
	border: 1px solid #b9d2ffbd;
}

.bank-accounts div {
	height: 30px;
}
.bank-accounts div:nth-child(odd) {
	background-color: #b9d2ffbd;
}

p {
	margin: 0;
}
